.sidebar-card-prof{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: rgba(145, 158, 171, 0.12);
}

.bi-dash{
    background-image:url('/public/assets/img/bg-green.png');
}

/* css loading */
.preload-wrapper {
    z-index: 9999999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    overflow: hidden;
}

#preloader_3 {
    position: relative;
    width: 40px;
    margin: 23% auto;
}

#preloader_3:before {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgb(0, 171, 85);
    content: '';
    position: absolute;
    background: rgb(0, 171, 85);
    -webkit-animation: preloader_3_before 1.5s infinite ease-in-out;
    animation: preloader_3_before 1.5s infinite ease-in-out;
}

#preloader_3:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgb(0, 171, 85);
    content: '';
    position: absolute;
    background: rgb(1, 145, 73);
    left: 22px;
    animation: preloader_3_after 1.5s infinite ease-in-out;
    -webkit-animation: preloader_3_after 1.5s infinite ease-in-out;
}

@keyframes preloader_3_before {
    0% {
        transform: translateX(0px) rotate(0deg)
    }

    50% {
        transform: translateX(50px) scale(1.2) rotate(260deg);
        background: rgb(1, 145, 73);
        border-radius: 0px;
    }

    100% {
        transform: translateX(0px) rotate(0deg)
    }
}

@keyframes preloader_3_after {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(-50px) scale(1.2) rotate(-260deg);
        background: rgb(0, 171, 85);
        border-radius: 0px;
    }

    100% {
        transform: translateX(0px)
    }
}

@-webkit-keyframes preloader_3_before {
    0% {
        -webkit-transform: translateX(0px) rotate(0deg)
    }

    50% {
        -webkit-transform: translateX(50px) scale(1.2) rotate(260deg);
        background: rgb(1, 145, 73);
        border-radius: 0px;
    }

    100% {
        -webkit-transform: translateX(0px) rotate(0deg)
    }
}

@-webkit-keyframes preloader_3_after {
    0% {
        -webkit-transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(-50px) scale(1.2) rotate(-260deg);
        background: rgb(0, 171, 85);
        border-radius: 0px;
    }

    100% {
        -webkit-transform: translateX(0px)
    }
}
/* End Preloader */

.table-condensed {
    width: 250px;
    cursor: pointer;
}

.datepicker-days .table-condensed thead tr th{
    font-size: 1.5rem !important;
    text-align: center;
}

.datepicker-days .table-condensed tbody tr td{
    font-size: 1.2rem !important;
    cursor: pointer;
    text-align: center;
}

.datepicker-days .table-condensed tbody tr td.new.day,
.datepicker-days .table-condensed tbody tr td.old.day{
    color: #8B8B8B;
}

.datepicker-days .table-condensed tbody tr td.today.day{
    background: rgb(0, 171, 85);
    color: #ffffff;
    border-radius: 0.3rem;
}